---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
    title="Future Projects"
    description="This section will show of my work yet to come"
	pubDate={new Date('November 27 2023')}
	heroImage="/blog-placeholder-about.jpg"
>
    <p>
        Stuffs
    </p>

</Layout>